page-welcome {
    #welcome {
        background: color($colors, energy);
        .logo {
            height: 150px;
        }
        h1 {
            font-size: 52px;
            margin-top: 50px;
        }
        .marginTop {
            margin-top: 150px;
        }
    }
}
